<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro-Fi</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Account</a></li>
        <li><a href="/signup">SignUp/Login</a></li>
    </ul>
    <h3>
        If you have a account go to account and see your details
    </h3>
    <h2>
        <a href="/signup">Create new account</a>
    </h2>



</body>

</html>